$colors: (
    common: (
        "white": #fff,
        "black": #000,
        "placeholder":#808080,
        "heading":#191919,
        "body-text":#555555,
        "selection":#262626,
        "body": #fff,
    ),
    theme: (
        "primary":#076cec,  
        "secondary":#1c58ef,  
    ),
    text: (
        "primary":#fff,
        "secondary":#161616,
        "body": #555555,
        "2": #222222,
        "3": #9F9F9F,
        "4": #808080,
    ),
    bg: (
        "1":#F0F0F0,
        "2":#191919,
        "3":#EDF9FD,
        "4":#F2FBFE,
        "5":#f7f7f7,
    ),
    border: (
        "1": #2F2F2F,
        "2": rgba(85, 85, 85, 0.2),
    ),
    gradient: (
        "1":linear-gradient(96.81deg, #FF589B 0%, #FFC107 100%),
    )
); 

// Text color
.text-color-1 {
	color: var(--clr-theme-primary);
}
.text-color-2 {
	color: var(--clr-theme-secondary);
}
.text-color-3 {
	color: var(--clr-theme-3);
}
.text-color-4 {
	color: var(--clr-theme-4);
}
.text-color-5 {
	color: var(--clr-theme-5);
}