.contianer {
  display: flex;                  /* يخلي العناصر جنب بعض */
  justify-content: center;       /* توسيط العناصر أفقياً */
  gap: 30px;                      /* مسافة بين كل شهادة */
  flex-wrap: wrap;               /* إذا صغرت الشاشة، ينزلوا تحت بعض */
  padding: 20px;
}
.card{
  width: 310px;
  border: none;
}
.card-body {
  display: flex;     /* يخلي الصورة فوق والنص تحت */
  justify-content: center;
  align-items: center;           /* توسيط المحتوى داخل البطاقة */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(4, 42, 48, 0.1);
  transition: transform 0.3s ease;
  background-image: url('../imgs/bg/cover.png');
  background-size: cover;
  max-width: 310px;
  height: 430px;

}

.card-body:hover {
  transform: scale(1.03);
}

.img1 {
  width: 80%;
  height: auto;
  max-height: 400px;
  border-radius: 6px;
  transition: transform 1.3s ease-in-out;
}

.img1:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card{
  border-radius: 0px;
  border: 1px solid #00A651;
}
.card-body label {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  transition: transform 0.3s ease;
}
.card-footer{
  background-color: #fff;
}
.card-footer span{
  color: #82C341;
}
.card-footer h3{
  color: #2C3787;
}
.card-body img:hover{
  transform: scale(1.4);
}
#slider_content {
   margin: 0;
  padding: 20px;
  background: #f0f2f5;
  font-family: sans-serif;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

.stories-viewport {
   overflow: hidden;
   width: 100%;
  
}

.stories-container{
   display: flex;
  transition: transform 0.5s ease-in-out;
}

.story-card {
 min-width: 100px;
  height: 150px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-right: 10px;
  flex-shrink: 0;
  cursor: pointer;
  
}

.story-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

.nav-button.left {
  left: 5px;
}

.nav-button.right {
  right: 5px;
}
.image_count {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image_count img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}